<template>
    <section v-if="breed" class="px-8 pt-5 w-full">
        <img :src="breed.picture" alt="" class="vignette float-left me-4 mb-4" />
        <h2>{{ breed.name }}</h2>

        <section>
            <h3>Health and caring</h3>
            {{ breed.health }}
        </section>

        <hr class="clear-float my-8" />

        <section>
            <h3>Description</h3>
            {{ breed.description }}
        </section>


    </section>
</template>
  
<script lang="ts" setup>
definePageMeta({
    layout: 'asidepanel'
})

type Breed = {
    slug: string;
    name: string;
    picture: string;
    health: string;
    description: string;
}

const { slug } = useRoute().params
const breed = ref<Breed | null>(null)

const { data, error } = await useApiFetch("/api/catbreeds/" + slug, {
    onResponse({ request, response, options }) {
        breed.value = response._data.data
    },
    key: slug
});

</script>