<template>
    <div>
        <h1>Liste of breeds</h1>
        <p class="text-center my-12">See here the most beautifull breeds of cats around the world !</p>
        <div v-if="breedsList" class="flex flex-wrap gap-4 justify-center">
            <div v-for="aBreed in breedsList.data">
                <CatbreedCard :breed="aBreed" class="mb-8" />
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
definePageMeta({
    layout: 'fullpage'
})

const { data: breedsList } = await useApiFetch("/api/catbreeds");
</script>