<template>
    <div>
        <h1>Add a Catbreed</h1>
        <form @submit.prevent="createBreed" class="m-auto" style="width:300px">
            <div>
                <label class="label" for="name">
                    Name
                    <input
                        class="input-text" id="name" v-model="form.name" type="text" />
                </label>
            </div>

            <div>
                <label class="label" for="picture">
                    Picture
                    <input
                        class="input-text"
                        id="picture" v-model="form.picture" type="text">
                </label>
            </div>

            <div>
                <label class="label" for="health">
                    Health
                    <input id="health" 
                        class="input-text" v-model="form.health" type="text">
                </label>
            </div>

            <div>
                <label class="label" for="description">
                    Description
                    <input id="description" 
                        class="input-text" v-model="form.description" type="text">
                </label>
            </div>

            <div class="text-right">
                <button type="submit" class="btn-validate m-0">Create</button>
            </div>

        </form>
    </div>
</template>

<script lang="ts" setup>
import { definePageMeta } from "#imports";

definePageMeta({
    middleware: ['auth'],
    layout: 'admin'
})

const form = ref({
    name: "",
    picture: "",
    health: "",
    description: ""
});

const catbreeds = useCatbreedStore();
async function createBreed() {
    const { error } = await catbreeds.create(form.value);
    if (!error.value) {
        navigateTo("/admin");
    }
}
</script>