<template>
    <div class="container m-auto">
        <NuxtLink to="/admin/create" class="btn-validate inline-block">+ Ajouter</NuxtLink>

        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th style="width:100px;text-align:left">Picture</th>
                    <th class="text-left">Name</th>
                    <th style="width:300px;text-align:center">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="aBreed in breedsList.data" :key="aBreed.slug">
                    <td><img :src="aBreed.picture" alt=""
                            class="vignette-sm inline" /></td>
                    <td>{{ aBreed.name }}</td>
                    <td class="text-center">
                        <NuxtLink :to="`/catbreeds/${aBreed.slug}`" class="btn-validate inline-block">Voir</NuxtLink>
                        <NuxtLink :to="`/admin/catbreeds/${aBreed.slug}`" class="btn-normal inline-block">Modifier</NuxtLink>
                        <button type="button" @click="softDelete($event, aBreed)" class="btn-avoid inline-block">Supprimer</button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</template>
  
<script lang="ts" setup>
import { definePageMeta } from "#imports";
import { useCatbreedStore } from "~/stores/useCatbreedStore";

definePageMeta({
    middleware: ['auth'],
    layout: 'fullpage'
})

const { data: breedsList } = await useApiFetch("/api/catbreeds");

const catbreedStore = useCatbreedStore();

async function softDelete(event, catbreed) {
    if(confirm("Really sure to delete this catbreed (hopefully it’s a soft delete) ?")) {
        await catbreedStore.softDelete(catbreed).then(response => {
            if(response.status.value === "success") {
                //y’a forcément une méthode plus simple que ça qui a dû m’échapper…
                breedsList.value.data = breedsList.value.data.filter(item => item.slug !== catbreed.slug);
            }
        })
    }
}

</script>