<template>

    <div class="card">
        <img :src="breed.picture" alt="" class="vignette inline" />
        <p class="my-2">{{ breed.name }}</p>

        <NuxtLink :to="`/catbreeds/${breed.slug}`" class="btn-normal inline-block">Voir</NuxtLink>
    </div>

</template>

<script lang="ts" setup>
    const { breed } = defineProps(["breed"]) ;
</script>