@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
    --color-main: #7d32c4;
}

h1 {
    font-size: 3rem;
    @apply text-center mb-8;
}

@media (max-width: 640px) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}


.router-link-active

/*.router-link-exact-active*/
    {
    color: var(--color-main);
}

.bg-sidebar {
    background: black;
}

.vignette {
    width: 120px;
    border: 2px solid white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.vignette-sm {
    width: 75px;
}

/* buttons */

.btn-normal {
    @apply focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.btn-validate {
    @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
}

.btn-avoid {
    /*@apply bg[#00FF00] text-white px-3 ;*/
    @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
}


/* -------------------- Forms -------------------- */
.label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

.input-text {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

/* -------------------- Table -------------------- */

tr {
    border-bottom : 1px solid lightgray ;
}



@layer components {
    .card {
        width: 200px;
        @apply text-center;
    }
}