<template>
    <div>
        <h1 v-if="breed">Modify the catbreed {{ breed.name }}</h1>
        <form @submit.prevent="updateBreed" class="m-auto" style="width:300px">
            <div>
                <label class="label" for="name">
                    Name
                    <input
                        class="input-text" id="name" v-model="form.name" type="text" />
                </label>
            </div>

            <div>
                <label class="label" for="picture">
                    Picture
                    <input
                        class="input-text"
                        id="picture" v-model="form.picture" type="text">
                </label>
            </div>

            <div>
                <label class="label" for="health">
                    Health
                    <input id="health" 
                        class="input-text" v-model="form.health" type="text">
                </label>
            </div>

            <div>
                <label class="label" for="description">
                    Description
                    <input id="description" 
                        class="input-text" v-model="form.description" type="text">
                </label>
            </div>

            <div class="text-right">
                <button type="submit" class="btn-validate m-0">Update</button>
            </div>

        </form>
    </div>
</template>

<script lang="ts" setup>
import { definePageMeta } from "#imports";

definePageMeta({
    middleware: ['auth'],
    layout: 'admin'
})

type Breed = {
    slug: string;
    name: string;
    picture: string;
    health: string;
    description: string;
}

const { slug } = useRoute().params
const breed = ref<Breed | null>(null)
const form = ref({
    name: "",
    picture: "",
    health: "",
    description: ""
});

const { data, error } = await useApiFetch("/api/catbreeds/" + slug, {
    onResponse({ request, response, options }) {
        breed.value = { ...response._data.data }
        form.value = { ...response._data.data }
    },
    key: slug
});

const catbreeds = useCatbreedStore();
async function updateBreed() {
    const { error } = await catbreeds.update(form.value);
    if (!error.value) {
        navigateTo("/admin");
    }
}
</script>