<template>
    <div class="flex">
        <div class="relative bg-sidebar h-screen hidden sm:block shadow-xl" style="width:300px;min-width:280px">
            <nav class="text-base font-semibold pt-3">
                <NuxtLink to="/" class="text-white nav-item inline-block px-4 py-2 w-full">Home</NuxtLink>
                <ul v-if="breedsList">
                    <li v-for="breed in breedsList.data" class="">
                        <NuxtLink :to="`/catbreeds/${breed.slug}`"
                            class="text-white nav-item inline-block px-8 py-2 w-full">
                            {{ breed.name }}
                        </NuxtLink>
                    </li>
                </ul>
            </nav>
        </div>

        <div class=" h-screen flex flex-col items-center" style="overflow-y:auto;width:100%">
            <header class="flex items-center mb-8">
                <svg @click="toggleMenu" class="h-8 w-8 me-4 block sm:hidden" stroke="black" fill="black"
                    viewBox="0 0 24 24" alt="ouvrir menu navigation">
                    <path class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <h1>Breeds of cats</h1>
            </header>

            <div v-show="menuIsOpen" class="block sm:hidden w-full bg-black">
                <nav class="text-white text-base font-semibold pt-3">
                    <ul>
                        <li>
                            <NuxtLink  @click="toggleMenu" to="/" class="text-white nav-item inline-block px-4">Home</NuxtLink>
                        </li>
                        <li v-for="breed in breedsList.data" class="">
                            <NuxtLink  @click="toggleMenu" :to="`/catbreeds/${breed.slug}`" class="text-white nav-item inline-block px-8 py-2"
                                style="width:100%">{{ breed.name }}
                            </NuxtLink>
                        </li>
                    </ul>
                </nav>
            </div>

            <main class="grow container flex h-screen flex" style="overflow-y:auto;">
                <slot />
            </main>
        </div>
    </div>
</template>

<script lang="ts" setup>
//création du menu
const { data: breedsList } = await useApiFetch("/api/catbreeds");
const menuIsOpen = ref(false)
const toggleMenu = () => {
    menuIsOpen.value = !menuIsOpen.value;
}
</script>