<template>
    <div class="flex flex-col h-screen">
        <nav class="pt-4 px-4">
            <ul class="flex gap-4 wrap">
                <li>
                    <NuxtLink to="/">Home</NuxtLink>
                </li>
                <li>
                    <NuxtLink to="/catbreeds">Catbreeds</NuxtLink>
                </li>
            </ul>
        </nav>

        <main class="grow">
            <slot />
        </main>

        <footer class="w-full">
            <nav v-show="!auth || !auth.isLoggedIn" class="p-8">
                <ul class="flex gap-4 wrap justify-start items-center">
                    <li>
                        <NuxtLink to="/login">Login</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/register">Register</NuxtLink>
                    </li>
                </ul>
            </nav>

            <nav v-if="auth && auth.isLoggedIn" class="p-8">
                <ul class="flex wrap justify-between items-center">
                    <li>
                        <span class="me-4">{{ auth.user.name }}</span>
                        <button @click="handleLogout" class="btn-avoid">Logout</button>
                    </li>
                    <li>
                        <NuxtLink to="/admin">Administrate</NuxtLink>
                    </li>
                </ul>

            </nav>
        </footer>
    </div>
</template>

<script lang="ts" setup>
import { useAuthStore } from "~/stores/useAuthStore";

//authentification
const auth = useAuthStore();
async function handleLogout() {
    await auth.logout();
}
</script>

<style scoped></style>
