<template>
    <div class="container m-auto p-4">
        <h1>Welcome on a cats page !</h1>
        <p>Here, you’ll find many informations about cats and breeding</p>
    </div>
</template>
  
<script lang="ts" setup>
definePageMeta({
    layout: 'fullpage'
})
</script>