<template>
    <div class="w-100">
        <form v-show="!auth.isLoggedIn" @submit.prevent="handleLogin" class="m-auto" style="width:300px">
            <div>
                <label class="label" for="email">
                    Email
                    <input id="email" class="input-text" v-model="form.email" type="email">
                </label>
            </div>

            <div>
                <label class="label" for="password">
                    Password
                    <input id="password" class="input-text" v-model="form.password" type="password">
                </label>
            </div>

            <div class="text-right">
                <button type="submit" class="btn-validate m-0">Login</button>
            </div>

        </form>

        <p class="text-center" v-show="auth.isLoggedIn">You are logged in as {{ auth.user ? auth.user.name : "" }}</p>
    </div>
</template>

<script lang="ts" setup>
import { useAuthStore } from "~/stores/useAuthStore";

definePageMeta({
    layout: 'fullpage'
})

const form = ref({
    email: "test@example.com",
    password: "password"
});

const auth = useAuthStore();

async function handleLogin() {
    const { error } = await auth.login(form.value);

    console.error(error);
}
</script>

<style scoped></style>
