<template>
    <div>
        <form @submit.prevent="handleRegister" class="m-auto" style="width:300px">
            <div>
                <label class="label" for="name">
                    Name
                    <input
                        class="input-text" id="name" v-model="form.name" type="text" />
                </label>
            </div>

            <div>
                <label class="label" for="email">
                    Email
                    <input
                        class="input-text"
                        id="email" v-model="form.email" type="email">
                </label>
            </div>

            <div>
                <label class="label" for="password">
                    Password
                    <input id="password" 
                        class="input-text" v-model="form.password" type="password">
                </label>
            </div>

            <div>
                <label class="label" for="password_confirmation">
                    Password confirmation
                    <input id="password_confirmation" 
                        class="input-text" v-model="form.password_confirmation" type="password">
                </label>
            </div>

            <div class="text-right">
                <button type="submit" class="btn-validate m-0">Register</button>
            </div>

        </form>

    </div>
</template>

<script lang="ts" setup>
import { useAuthStore } from "~/stores/useAuthStore";

definePageMeta({
    layout: 'fullpage'
})

const form = ref({
    name: "",
    email: "",
    password: "",
    password_confirmation: ""
});

const auth = useAuthStore();

async function handleRegister() {
    const { error } = await auth.register(form.value);
    if (!error.value) {
        navigateTo("/");
    }
}
</script>

<style scoped></style>